<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raio-X-Covid - Sobre</title>
    <link rel="stylesheet" href="{{url_for('static',filename='about.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
</head>
<body>
    <div id="sobre">
        <a id="homePgBtn" class="btnLink" href="/">Página Inicial</a>
        <h2>Sobre o Aplicativo</h2>
        <p>O aplicativo Raio-X-Covid foi desenvolvido como fruto de um projeto de pesquisa do Instituto Federal do Triângulo Mineiro Campus Ituiutaba. Seu objetivo é auxiliar a medicina diagnóstica na identificação de imagens de raio-x pulmonares com suspeita de Covid-19 ou Pneumonia.</p>
        <h2>Observações Importantes</h2>
        <p>Esse aplicativo <b>NÃO</b> substitui o diagnóstico médico.<br><br>Esse aplicativo <b>NÃO</b> deve ser utilizado como única forma de diagnóstico médico por imagens.<br><br>Esse aplicativo <b>NÃO</b> deve ser utilizado por pacientes sem o acompanhamento médico.</p>
    </div>
</body>
</html>