<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">

    <title>Raio-X-Covid - Página Inicial</title>
  </head>
  <body>
    <div class="main">
      <a id="aboutPgBtn" class="btnLink" href="/about">Sobre</a>
      <form class="form-signin" method=post enctype=multipart/form-data>
          <h2 class="textoInicial">Selecione uma imagem para a análise</h2>
          <span id="alertSpan">Lembre-se de colocar apenas imagens raio-x</span><br>
          <div class="input">
            <label for="file">Selecionar arquivo</label>
            <input id="file" name="file" type="file"  class="form-control-file">
          </div>
          <span id="isLoaded"></span>
          <br>
          <button class="buttonSubmit" type="submit">Analisar</button>
      </form>
    </div>
    <script src="//code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script type="text/javascript">
      $('#file').bind('change', function() {
          let fileSize = this.files[0].size/1024/1024;
          if (fileSize > 1) {
            $("#file").val(null);
            alert('Arquivo muito grande! Selecione um arquivo com menos de 1 MB')
            return
          } else {
            $("#isLoaded").text("Imagem Carregada")
          }
      });
    </script>
  </body>
</html>